# Example configuration file

## Terminal device to connect to
# device /dev/ttyUSB0

## Baudrate is 115200
# baudrate 115200

## Open a telnet-like tcp server at port 4100
# port 4100

## Headless mode - not used as a local client, but only as a server
# headless


# Use the 'key-printer' program to map "keys" to hex code. A key-code can be a
# sequence of multiple keys to do that just concatenate the values.

## C-] q will quit
tty-cmd-add "\x1dq" quit

## Alt-q will quit
# tty-cmd-add "\x1bq" quit

# To inject a C-] without waiting for a time-out do a "C-] C-]"
tty-cmd-add "\x1d\x1d" inject "\x1d"

#tty-cmd-add "asdf" spawn "echo $TERMHUB_PORT"

# by backspace we mean back space
tty-cmd-add "\x7f" inject "\x08"

# <F1>
# tty-cmd-add "\x1bOP" spawn "~/ramload.rb"

# <F2>
# tty-cmd-add "\x1bOQ" spawn "~/reboot.rb"

# <F12>
# tty-cmd-add "\x1b[24~" break
#
